<h1>Showing article details</h1>

<!--To Evaluate ruby inside HTML the tag <% %> is used and to display it the tag <%= %> is used-->
<p><strong>Title: </strong><%= @article.title %></p>
<p><strong>Description: </strong><%= @article.description %></p>